/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playball&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** TEXT SIZE ADJUST ******/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/****** BOX MODEL ******/
* {
  box-sizing: border-box;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Playball', cursive;

*/
.small-1 {
  width: 8.3333333333%;
  float: left;
}

.small-2 {
  width: 16.6666666667%;
  float: left;
}

.small-3 {
  width: 25%;
  float: left;
}

.small-4 {
  width: 33.3333333333%;
  float: left;
}

.small-5 {
  width: 41.6666666667%;
  float: left;
}

.small-6 {
  width: 50%;
  float: left;
}

.small-7 {
  width: 58.3333333333%;
  float: left;
}

.small-8 {
  width: 66.6666666667%;
  float: left;
}

.small-9 {
  width: 75%;
  float: left;
}

.small-10 {
  width: 83.3333333333%;
  float: left;
}

.small-11 {
  width: 91.6666666667%;
  float: left;
}

.small-12 {
  width: 100%;
  float: left;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg_body.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  font-family: "Lato", sans-serif;
}
body h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(222, 217, 217);
}
body p {
  line-height: 150%;
}
body .container {
  clear: both;
  width: 90vw;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(222, 217, 217);
  margin: 0 auto;
}
body figure {
  width: 100%;
}
body figure img {
  width: 100%;
}

header {
  text-align: center;
  height: 200px;
}
header .group_name {
  padding-top: 50px;
  color: #fff6b3;
  font-family: "Playball", cursive;
  font-size: 5rem;
}

nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #fff6b3;
  font-weight: bolder;
}
nav ul li a:hover {
  background-color: #187498;
  color: #ffffff;
}

main {
  padding: 20px 2%;
}
main div {
  margin: 20px 2%;
}
main p {
  margin: 20px 0;
}
main h2 {
  text-align: right;
  margin-bottom: 1rem;
  color: #fff6b3;
}
main span {
  font-weight: bold;
}
main .grupo {
  margin: 60px 0;
  clear: both;
}
main .grupo div {
  margin: 0;
  text-align: center;
}
main .grupo figure {
  width: 100%;
  padding: 20px;
}
main .grupo figure img {
  border-radius: 50%;
}
main hr {
  border: 1px solid rgb(90, 89, 89);
  clear: both;
}
main .biografia {
  margin-top: 60px;
  clear: both;
  text-align: center;
}

aside {
  padding-bottom: 30px;
}
aside .musicList {
  clear: both;
  background-color: #187498;
  margin: 0;
  padding: 20px 15px;
}
aside .musicList .medium-8 {
  padding-left: 60px;
}
aside .musicList h2 {
  margin-bottom: 30px;
}
aside .musicList h2 {
  color: #fff6b3;
  text-align: center;
}
aside .musicList .musicItem {
  margin-bottom: 1rem;
  clear: both;
}
aside .musicList .musicItem div {
  float: left;
  margin: 0;
}
aside .musicList .musicItem div:nth-child(1) {
  width: -moz-min-content;
  width: min-content;
  padding-right: 0.5rem;
  cursor: pointer;
}
aside .musicList .musicItem div:nth-child(2) {
  width: 300px;
  margin: 0;
  justify-content: space-between;
}
aside .musicList .musicItem div:nth-child(2) p {
  width: 250px;
}
aside .musicList .musicItem div:nth-child(2) span {
  float: right;
}
aside .nextPresentations {
  margin-top: 60px;
  padding-left: 20px;
}
aside .nextPresentations h2 {
  margin-bottom: 30px;
  padding-left: 20px;
}
aside .nextPresentations .evento {
  margin-bottom: 10px;
}
aside .nextPresentations .evento div {
  float: left;
  margin: 0 2%;
}
aside .nextPresentations .evento .fecha {
  width: -moz-min-content;
  width: min-content;
  background-color: #187498;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  color: #ffffff;
  padding: 1rem;
}
aside .nextPresentations .evento .fecha h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
aside .nextPresentations .evento div:nth-child(2) {
  width: -moz-max-content;
  width: max-content;
  color: rgb(222, 217, 217);
  font-weight: bolder;
}

footer {
  clear: both;
  margin-top: 60px;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}
footer ul li {
  display: inline;
  padding: 0.2rem;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.h2contacto {
  margin-top: 1rem;
}

.contacto {
  background-color: #fff;
}
.contacto p:nth-child(1) {
  font-size: 2rem;
}
.contacto p:nth-child(2) {
  font-size: 1.5rem;
}
.contacto div {
  text-align: center;
  color: black;
  margin: 0;
}
.contacto form {
  background-color: rgb(214, 214, 214);
  text-align: center;
  padding-top: 20px;
}
.contacto form input, .contacto form textarea, .contacto form select, .contacto form button {
  width: 80%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}
.contacto form input, .contacto form select, .contacto form button {
  height: 2rem;
}
.contacto form button {
  color: white;
  background-color: rgb(31, 52, 79);
}
.contacto form button:hover {
  background-color: #187498;
  scale: 1.05;
}

.location {
  text-align: center;
  margin-top: 60px;
}

.album {
  margin: 0;
  padding: 1rem;
}
.album figcaption {
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.album:hover figcaption {
  color: #fff6b3;
  font-weight: bold;
}

@media only screen and (min-width: 560px) {
  .medium-1 {
    width: 8.3333333333%;
    float: left;
  }
  .medium-2 {
    width: 16.6666666667%;
    float: left;
  }
  .medium-3 {
    width: 25%;
    float: left;
  }
  .medium-4 {
    width: 33.3333333333%;
    float: left;
  }
  .medium-5 {
    width: 41.6666666667%;
    float: left;
  }
  .medium-6 {
    width: 50%;
    float: left;
  }
  .medium-7 {
    width: 58.3333333333%;
    float: left;
  }
  .medium-8 {
    width: 66.6666666667%;
    float: left;
  }
  .medium-9 {
    width: 75%;
    float: left;
  }
  .medium-10 {
    width: 83.3333333333%;
    float: left;
  }
  .medium-11 {
    width: 91.6666666667%;
    float: left;
  }
  .medium-12 {
    width: 100%;
    float: left;
  }
  body .container {
    width: 85vw;
  }
}
@media only screen and (min-width: 1140px) {
  .large-1 {
    width: 8.3333333333%;
    float: left;
  }
  .large-2 {
    width: 16.6666666667%;
    float: left;
  }
  .large-3 {
    width: 25%;
    float: left;
  }
  .large-4 {
    width: 33.3333333333%;
    float: left;
  }
  .large-5 {
    width: 41.6666666667%;
    float: left;
  }
  .large-6 {
    width: 50%;
    float: left;
  }
  .large-7 {
    width: 58.3333333333%;
    float: left;
  }
  .large-8 {
    width: 66.6666666667%;
    float: left;
  }
  .large-9 {
    width: 75%;
    float: left;
  }
  .large-10 {
    width: 83.3333333333%;
    float: left;
  }
  .large-11 {
    width: 91.6666666667%;
    float: left;
  }
  .large-12 {
    width: 100%;
    float: left;
  }
  main h2 {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */